header.masthead {
  color: black;
  background: /* #223; */ url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: Auto;
}

.bg-primary {
  background: #1e68078f !important;
}

.h1,
h1 {
  font-size: 3.5rem;
  margin-block-end: 1em;
}

header.masthead .header-content {
  font-weight: bold;
}

header.masthead .header-content h1 {
  color: #1e6807;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #1e6807;
  font-size: 24pt;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #1e6807;
}

#mainNav .navbar-brand {
  color: fade(black, 70%);
}

}
#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color:  #1e6807;
  font-weight: bold;

}
#header-intro {
  color: rgb(51,51,51 );
}
